<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header"><%= @group.name %>'s Photos</h1>
            <%= link_to 'Add Photo', new_group_attachment_path, :class => 'btn btn-primary btn-lg pull-left' %>
        </div>
        <div class="row"></div>

                <% if @group.attachments.blank? %>
                  <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <%= image_tag 'placeholder.png' %>
                  </div>
                <% else %>
                  <% @group.attachments.each do |attachment| %>
                    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                      <%= image_tag(attachment.image.url) %>
                      <%= attachment.caption %>
                    </div>
                  <% end %>
                <% end %>
    </div>
</div>
